.citizen-drawer {
	&__card {
		.mixin-citizen-header-card( start );
		top: 100%;
		right: unset;
		bottom: unset;
		left: 0;

		@media ( min-width: @min-width-breakpoint-desktop ) {
			top: 100%;
			right: unset;
			bottom: unset;
			left: 0;
		}
	}

	&__header {
		display: flex;
		gap: var( --space-md );
		align-items: center;
		justify-content: center;
		padding: var( --space-md );
		border-bottom: var( --border-subtle );
	}

	&__logo {
		display: flex;
		flex-wrap: nowrap;
		gap: var( --space-xs );
		align-items: center;

		// Keep aspect ratio
		img {
			width: auto;
			height: 3rem;
		}
	}

	&__siteinfo {
		display: flex;
		flex-direction: column;
		gap: var( --space-xxs );
	}

	&__menu {
		--size-icon: 1rem;
		display: grid;
		grid-template-columns: repeat( auto-fit, minmax( 15rem, auto ) );
		gap: var( --space-sm );
		justify-content: center;
		max-width: inherit;
		padding: var( --space-xs );
		margin-bottom: var( --space-xs );

		.mw-list-item a {
			border-radius: var( --border-radius-base );
		}
	}
}
